<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{seo.title}}</title>
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
</head>
<body>

    <p>I'm the Engineering Manager of BBC Elections. I lead the BBC's election engineering behind major events such as the US election 2024 and UK general election 2024. I have 15 years industry experience spanning roles in media & broadcasting, SaaS, hospitality and online payments.</p>
    <p>I have led large scale software migration & development projects powering some of the world's most visited websites, including 124 million visitors supported for the BBC's coverage of the US Presidential Election in 2024.</p>
    <p>Before BBC Elections, I led the BBC's engineering community of 20 engineers alongside an offshore team to manage an open source platform powering 500M+ users per month for BBC World Service.</p>
    <p>I am particularly interested in software quality case studies, accessibility of software systems, and proven methods to foster & scale engineering communities in complex organisations.</p>
    <p>I am actively seeking opportunities for engineering leadership roles in Sydney, Australia, with availability from September 2025.</p>

</body>
</html>